.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.form-container{
    background-color: white;
    width: 25%;
    padding: 16px 32px;
}