.loader-dimmer {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.3;
    position: absolute;
}
.loader-container{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.loader-img{
    width: 96px;
    height: 96px;
    animation: animateLogo 1s ease infinite;
}

@keyframes animateLogo {
    0%{
        scale: 0.75
    }
    
    50%{
        scale: 1.5
    }
    100%{
        scale: 0.75
    }
}