.input-wrapper{
    margin-top: 16px;
}

.input-label{
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 8px;
}

.input-primary{
    padding: 12px 8px;
    width: calc(100% - 18px);
    border: 1px solid #c5c5c5;
    border-radius: 5px;
}

.input-primary:focus{
    outline: none;
    border: 2px solid #3178ab;
}

.error-border{
    outline: none;
    border: 2px solid #e74c3c;
}

.input-error-list{
    background-color: #e74c3c;
    padding: 0;
}

.error-text{
    color: #e74c3c;
    font-size: 0.8em;
}