.input-wrapper{
    margin-top: 16px;
}

.input-label{
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 8px;
}

.input-primary{
    position: relative;
    padding: 12px 16px;
    width: 90%;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    /* min-width: 250px; */
}

.input-primary:focus{
    outline: none;
    border: 2px solid #3178ab;
}

.error-border{
    outline: none;
    border: 2px solid red;
}

.input-error-list{
    background-color: red;
    padding: 0;
}

.error-text{
    color: red;
    font-size: 0.8em;
}